NEXT_PUBLIC_SUPABASE_URL=https://maklpxgklzjekfdnhpkp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ha2xweGdrbHpqZWtmZG5ocGtwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5Njg1OTYsImV4cCI6MjEwMjU0NDU5Nn0.nDo1w83xVaA3Lbvd6GuahSymCg-JYpNM-4ZQAW2B_JQ
NEXT_PUBLIC_SUPABASE_LIST_ID=the-list-uuid-to-use
